body {
    color:whitesmoke;
    background:rgb(4, 42, 101);
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
    margin-bottom: 100px;
}

header {
    border-bottom:solid 1px white;
    padding: 10px;
    font-size: 25px;
    color:whitesmoke
}

.chamada {
    background:rgb(144, 102, 145);
    padding-bottom: 40px;
    padding-top: 40px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 30px;
}

p {
    font-size: 20px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 20px;
}

.categoria {
    padding-left: 20px;
    padding-right:  20px;
    margin-top: 50px;
}

.categoria-videos img {
    opacity: 0,5;
    height: 150px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 1px solid;
}

.categoria h2 {
    color:whitesmoke
}